# /etc/otelcol-contrib/config.yaml
receivers:
  # Not getting any logs, just the metrics. App is already instrumented to send logs
  # Tail plaintext logs from a file
  # Assuming log line looks like '20-07-2023 19:50:07.305 [HOST] INFO MESSAGE BODY'
  # filelog:
  #   include: [/var/log/myapp/*.log]
  #   operators:
  #     - type: regex_parser
  #       regex:
  #         '^(?P<timestamp>\d{2}-\d{2}-\d{4} \d{2}:\d{2}:\d{2}.\d{3})
  #         \[(?P<host>.*)\] (?P<level>[A-Z]*) (?P<message>.*)$'
  #       timestamp:
  #         parse_from: attributes.timestamp
  #         layout: '%d-%m-%Y %H:%M:%S.%f'
  #       severity: # use otel severity parser
  #         parse_from: attributes.level
  #       body: attributes.message # extract the actual body message
 
  # Collect and forward metrics like CPU, memory, etc.
  hostmetrics:
    collection_interval: 5s
    scrapers:
      cpu:
      load:
      memory:
      disk:
      filesystem:
      network:
 
  # # If you'd like to tail json logs instead of plaintext logs, you can use the
  # # following config instead of the filelog/plaintext receiver.
  # filelog/json:
  #   include: [/var/log/myservice/*.json]
  #   operators:
  #     - type: json_parser
  #       timestamp:
  #         parse_from: attributes.time
  #         layout: '%Y-%m-%d %H:%M:%S'
 
processors:
  resourcedetection: # OPTIONAL
    detectors:
      - env
      - system
      - docker
      - ec2
    timeout: 5s
    override: false
  resource:
    attributes:
      - key: service.name
        action: upsert
        value: '<SERVICE_NAME>'
  batch:
 
exporters:
  logging:
    verbosity: detailed
  otlphttp/hdx:
    endpoint: '<COLLECTOR_ENDPOINT>'
    headers:
      authorization: <YOUR_API_KEY>
      compression: gzip
 
service:
  pipelines:
    metrics:
      receivers: [hostmetrics]
      processors: [resourcedetection, resource, batch]
      exporters: [logging, otlphttp/hdx]
 
    logs:
      receivers: [filelog]
      processors: [resourcedetection, resource, batch]
      exporters: [logging, otlphttp/hdx]