extensions:
  health_check:
    endpoint: 0.0.0.0:13133

receivers:
  docker_stats:
    #api_version: "1.44" #https://github.com/open-telemetry/opentelemetry-collector-contrib/issues/44279
    endpoint: tcp://socat:2375
    collection_interval: 15s

exporters:
  otlp/hdx:
    endpoint: 'clickstack:4317'
    headers:
      authorization: ${env:HYPERDX_API_KEY}
    tls:
      insecure: true
  debug:
    verbosity: basic

processors:
  batch:

service:
  extensions: [health_check]
  pipelines:
    metrics:
      receivers: [docker_stats]
      processors: [batch]
      exporters: [otlp/hdx]
