receivers:
  docker_stats:
    endpoint: tcp://socat:2375
    collection_interval: 15s

exporters:
  otlp/hdx:
    endpoint: 'clickstack:4317'
    headers:
      authorization: ${HYPERDX_API_KEY}
    tls:
      insecure: true
  debug:
    verbosity: basic

processors:
  batch:

service:
  pipelines:
    metrics:
      receivers: [docker_stats]
      processors: [batch]
      exporters: [otlp/hdx]
